#Binary Files
*.bin
*.sys

#The images
*.img
*.qcow2
*.vmdk

#Object files
*.o

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

#Miscellaneous
run.shZone.Identifier
run (1).shZone.Identifier
.gdb_history
*.elf
.gdbinit
.gdbinit
